USE [QuanLyThuVien_K235480106002]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDocGiaMuonSach]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_ThongKeDocGiaMuonSach] ()
RETURNS @BangThongKe TABLE
(
    [MaDocGia] INT,
    [HoTen] NVARCHAR(100),
    [SoLanMuon] INT
)
AS
BEGIN
    INSERT INTO @BangThongKe
    SELECT 
        d.[MaDocGia],
        d.[HoTen],
        COUNT(p.[MaPhieuMuon]) AS [SoLanMuon]
    FROM [DocGia] d
    LEFT JOIN [PhieuMuon] p ON d.[MaDocGia] = p.[MaDocGia]
    GROUP BY d.[MaDocGia], d.[HoTen]
    ORDER BY [SoLanMuon] DESC;
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeSachTheoTheLoai]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_ThongKeSachTheoTheLoai] ()
RETURNS @BangThongKe TABLE
(
    [TheLoai] NVARCHAR(50),
    [SoLuongSach] INT,
    [TongSoLuongTon] INT
)
AS
BEGIN
    -- Chèn dữ liệu vào bảng cần trả về
    INSERT INTO @BangThongKe
    SELECT 
        [TheLoai],
        COUNT(*) AS [SoLuongSach],
        SUM([SoLuongTon]) AS [TongSoLuongTon]
    FROM [Sach]
    WHERE [TheLoai] IS NOT NULL
    GROUP BY [TheLoai];
    
    -- Thêm dòng tổng cộng
    INSERT INTO @BangThongKe
    VALUES (N'TỔNG CỘNG', 
            (SELECT COUNT(*) FROM [Sach]),
            (SELECT SUM([SoLuongTon]) FROM [Sach]));
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongSachDangMuon]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TongSachDangMuon] ()
RETURNS INT
AS
BEGIN
    DECLARE @Tong INT;
    
    SELECT @Tong = COUNT(*)
    FROM [PhieuMuon]
    WHERE [TinhTrang] = N'Đang mượn';
    
    RETURN @Tong;
END;
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [varchar](10) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[TacGia] [nvarchar](100) NOT NULL,
	[NhaXuatBan] [nvarchar](100) NOT NULL,
	[NamXuatBan] [int] NULL,
	[SoLuongTon] [int] NULL,
	[DonGia] [money] NULL,
	[TheLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SachConTon]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_SachConTon] ()
RETURNS TABLE
AS
RETURN
(
    SELECT [MaSach], [TenSach], [TacGia], [SoLuongTon], [DonGia]
    FROM [Sach]
    WHERE [SoLuongTon] > 0
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[NgayDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTangQua]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTangQua](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [varchar](10) NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoLanMuon] [int] NULL,
	[QuaTang] [nvarchar](100) NULL,
	[NgayTang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [varchar](10) NOT NULL,
	[MaDocGia] [varchar](10) NOT NULL,
	[MaSach] [varchar](10) NOT NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
	[SoLuongMuon] [int] NULL,
	[TinhTrang] [nvarchar](20) NULL,
	[TienPhat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [NgayDangKy]) VALUES (N'DG001', N'Nguyễn Văn A', CAST(N'2000-05-15' AS Date), N'Nam', N'Hà Nội', N'0901234567', CAST(N'2026-04-27' AS Date))
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [NgayDangKy]) VALUES (N'DG002', N'Trần Thị B', CAST(N'2001-08-20' AS Date), N'Nữ', N'Hải Phòng', N'0901234568', CAST(N'2026-04-27' AS Date))
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [NgayDangKy]) VALUES (N'DG003', N'Lê Văn C', CAST(N'1999-12-10' AS Date), N'Nam', N'Đà Nẵng', N'0901234569', CAST(N'2026-04-27' AS Date))
GO
SET IDENTITY_INSERT [dbo].[LogTangQua] ON 

INSERT [dbo].[LogTangQua] ([Id], [MaDocGia], [HoTen], [SoLanMuon], [QuaTang], [NgayTang]) VALUES (13, N'DG001', N'Nguyễn Văn A', 3, N'50.000đ', CAST(N'2026-04-28T17:36:35.930' AS DateTime))
INSERT [dbo].[LogTangQua] ([Id], [MaDocGia], [HoTen], [SoLanMuon], [QuaTang], [NgayTang]) VALUES (14, N'DG002', N'Trần Thị B', 1, N'20.000đ', CAST(N'2026-04-28T17:36:35.930' AS DateTime))
INSERT [dbo].[LogTangQua] ([Id], [MaDocGia], [HoTen], [SoLanMuon], [QuaTang], [NgayTang]) VALUES (15, N'DG003', N'Lê Văn C', 0, N'Không', CAST(N'2026-04-28T17:36:35.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[LogTangQua] OFF
GO
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTra], [SoLuongMuon], [TinhTrang], [TienPhat]) VALUES (N'PM001', N'DG001', N'S001', CAST(N'2026-04-20' AS Date), NULL, 1, N'Đang mượn', 0.0000)
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTra], [SoLuongMuon], [TinhTrang], [TienPhat]) VALUES (N'PM002', N'DG002', N'S002', CAST(N'2026-04-25' AS Date), NULL, 2, N'Đang mượn', 0.0000)
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaSach], [NgayMuon], [NgayTra], [SoLuongMuon], [TinhTrang], [TienPhat]) VALUES (N'PM003', N'DG001', N'S003', CAST(N'2026-04-22' AS Date), NULL, 1, N'Đã trả', 0.0000)
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoLuongTon], [DonGia], [TheLoai]) VALUES (N'S001', N'Đắc Nhân Tâm', N'Dale Carnegie', N'NXB Tổng hợp', 2020, 8, 120000.0000, N'Kỹ năng')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoLuongTon], [DonGia], [TheLoai]) VALUES (N'S002', N'Nhà Giả Kim', N'Paulo Coelho', N'NXB Văn học', 2018, 5, 85000.0000, N'Tiểu thuyết')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [SoLuongTon], [DonGia], [TheLoai]) VALUES (N'S003', N'Clean Code', N'Robert Martin', N'NXB Khoa học', 2021, 3, 250000.0000, N'Tin học')
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[LogTangQua] ADD  DEFAULT (getdate()) FOR [NgayTang]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT (N'Đang mượn') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT ((0)) FOR [TienPhat]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD CHECK  (([NgaySinh]<=getdate()))
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD CHECK  (([SoLuongMuon]>(0)))
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD CHECK  (([TienPhat]>=(0)))
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD CHECK  (([TinhTrang]=N'Quá hạn' OR [TinhTrang]=N'Đã trả' OR [TinhTrang]=N'Đang mượn'))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([NamXuatBan]>=(1900) AND [NamXuatBan]<=(2026)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachPhieuMuon]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  XEM DANH SÁCH PHIẾU MƯỢN (JOIN 3 BẢNG)

CREATE   PROCEDURE [dbo].[sp_DanhSachPhieuMuon]
AS
BEGIN
    SELECT 
        pm.[MaPhieuMuon],
        dg.[HoTen] AS [TenDocGia],
        s.[TenSach] AS [TenSach],
        pm.[NgayMuon],
        pm.[TinhTrang],
        pm.[TienPhat]
    FROM [PhieuMuon] pm
    JOIN [DocGia] dg ON pm.[MaDocGia] = dg.[MaDocGia]
    JOIN [Sach] s ON pm.[MaSach] = s.[MaSach]
    ORDER BY pm.[NgayMuon] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemDocGia]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  THÊM ĐỘC GIẢ MỚI (CÓ KIỂM TRA)


CREATE   PROCEDURE [dbo].[sp_ThemDocGia]
    @MaDocGia VARCHAR(10),
    @HoTen NVARCHAR(100),
    @NgaySinh DATE,
    @GioiTinh NVARCHAR(5),
    @DiaChi NVARCHAR(200),
    @SoDienThoai VARCHAR(15)
AS
BEGIN
    -- Kiểm tra mã độc giả đã tồn tại chưa
    IF EXISTS (SELECT 1 FROM [DocGia] WHERE [MaDocGia] = @MaDocGia)
    BEGIN
        PRINT N'LỖI: Mã độc giả ' + @MaDocGia + N' đã tồn tại!';
        RETURN;
    END
    
    -- Kiểm tra giới tính (chỉ Nam hoặc Nữ)
    IF @GioiTinh NOT IN (N'Nam', N'Nữ')
    BEGIN
        PRINT N'LỖI: Giới tính phải là Nam hoặc Nữ!';
        RETURN;
    END
    
    -- Kiểm tra ngày sinh không được trong tương lai
    IF @NgaySinh > GETDATE()
    BEGIN
        PRINT N'LỖI: Ngày sinh không được lớn hơn ngày hiện tại!';
        RETURN;
    END
    
    -- Thêm độc giả
    INSERT INTO [DocGia] ([MaDocGia], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai])
    VALUES (@MaDocGia, @HoTen, @NgaySinh, @GioiTinh, @DiaChi, @SoDienThoai);
    
    PRINT N'Thành công: Đã thêm độc giả ' + @HoTen;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TongSachDangMuon]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  TÍNH TỔNG SỐ SÁCH ĐANG MƯỢN 


CREATE   PROCEDURE [dbo].[sp_TongSachDangMuon]
    @MaDocGia VARCHAR(10),
    @TongSo INT OUTPUT
AS
BEGIN
    SELECT @TongSo = COUNT(*)
    FROM [PhieuMuon]
    WHERE [MaDocGia] = @MaDocGia AND [TinhTrang] = N'Đang mượn';
    
    PRINT N'Độc giả ' + @MaDocGia + N' đang mượn ' + CAST(@TongSo AS VARCHAR) + N' cuốn sách';
END;
GO
/****** Object:  Trigger [dbo].[trg_A_PhieuMuon_Insert_UpdateSach]    Script Date: 29/04/2026 8:20:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_A_PhieuMuon_Insert_UpdateSach]
ON [dbo].[PhieuMuon]
AFTER INSERT
AS
BEGIN
    UPDATE [Sach]
    SET [SoLuongTon] = [SoLuongTon] - i.[SoLuongMuon]
    FROM [Sach] s
    INNER JOIN inserted i ON s.[MaSach] = i.[MaSach];
    
    PRINT N'[Trigger A] Đã cập nhật tồn kho sách (giảm do mượn)';
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_A_PhieuMuon_Insert_UpdateSach]
GO
/****** Object:  Trigger [dbo].[trg_PhieuMuon_Insert_GiamTonKho]    Script Date: 29/04/2026 8:20:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_PhieuMuon_Insert_GiamTonKho]
ON [dbo].[PhieuMuon]
AFTER INSERT
AS
BEGIN
    UPDATE [Sach]
    SET [SoLuongTon] = [SoLuongTon] - i.[SoLuongMuon]
    FROM [Sach] s
    INNER JOIN inserted i ON s.[MaSach] = i.[MaSach];
    
    PRINT N'Đã giảm tồn kho sách do có phiếu mượn mới';
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_PhieuMuon_Insert_GiamTonKho]
GO
/****** Object:  Trigger [dbo].[trg_B_Sach_Update_UpdatePhieuMuon]    Script Date: 29/04/2026 8:20:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_B_Sach_Update_UpdatePhieuMuon]
ON [dbo].[Sach]
AFTER UPDATE
AS
BEGIN
    UPDATE [PhieuMuon]
    SET [NgayTra] = DATEADD(DAY, 3, [NgayTra])
    FROM [PhieuMuon] pm
    INNER JOIN inserted i ON pm.[MaSach] = i.[MaSach]
    INNER JOIN deleted d ON i.[MaSach] = d.[MaSach]
    WHERE d.[SoLuongTon] - i.[SoLuongTon] >= 5
        AND pm.[TinhTrang] = N'Đang mượn';
    
    PRINT N'[Trigger B] Đã gia hạn phiếu mượn do sách giảm tồn kho mạnh';
END;
GO
ALTER TABLE [dbo].[Sach] ENABLE TRIGGER [trg_B_Sach_Update_UpdatePhieuMuon]
GO
